@media (min-width: 375px) and (max-width: 424px){
	#imagen img{
		margin-bottom: 90%;
	}
}

@media (min-width: 425px) and (max-width: 767px){
	#imagen img{
		margin-bottom: 80%;
	}
}

@media (min-width: 768px){
	#imagen img{
		margin-bottom: 30%;		
	}
}
/*overlay*/
@media (min-width: 375px) and (max-width: 424px){
    .overlay a {font-size: 18px}
    .overlay a {color: #FC1EBD}

    .overlay .closebtn {
        font-size: 20px;
        top: 15px;
        right: 35px;
        }
    }
