/*USAR BOOTSTRAP
*****COLORES*******
rosado next: #FC1EBD;
gris: #EFEFF4
morado opaco set pickup: #8179A8
morado intenso lift is not yet availabe: #352782
gris intenso sign up to drive: #728098
*/
/*Estilos index*/
#imagen{
    background-image: url(../img/fondo.png);    
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
    width: 100%;
    height: 100vh;   
}

.logo {      /*modificación completa de la parte del logo*/
    width: 70px;
    position: absolute;
    top: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
} 

#imagen img{
    margin-top: 50px;
    margin-bottom: 300px;/*vane modifica esto para ver como se ve porfa*/
}
.boton{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px; 
    width: 140px;
    height: 50px;
    font-size: 20px;
    padding: 3px;   
    margin-right: 10px;
    margin-top: 470px;/*parte arreglada de los botones por vane perez*/
    color: white;
}
.boton-1{
    background: linear-gradient(135deg, rgba(133,10,129,1) 0%, rgba(133,10,129,1) 46%, rgba(255,13,142,1) 100%);    
    border-radius: 6px; 
    border-style: none;
    width: 140px;
    height: 50px;
    font-size: 20px;
    padding: 5px 15px;  
    margin-bottom: 20px;
}

a.textoinicio{
    color: white;
}

a:hover{
    text-decoration: none; 
}

.boton-1:hover{
    background-color: #352782; 
}
a{
    color: white;
}

/*Estilos Sign Up Teléfono*/
h3.titulo {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

i.fa.fa-chevron-left.flechaleft {
    float: left;
    margin-top: 20px;
    font-size: 20px;
}

input#telefono {
    border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 25px;
    height: 30px;
    width: 130px;
}

select.my-select {
    border: 1px solid grey;
    border-radius: 3px;
    height: 30px;
}

input#telefono[type=number]::-webkit-inner-spin-button, 
input#telefono[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#successMessage {
	display: none;
	font-size: 70%;
	color: green;
	margin-bottom: 10px;
}

#submitButton {
    background-color: #FC1EBD;
    border-bottom: none;
    border: none;
    color: #fff;
    width: 100%;
    height: 60px;
    font-size: 20px;
}

input#submitBtnEmail {
    background-color: #FC1EBD;
    border-bottom: none;
    border: none;
    color: #fff;
    width: 100%;
    height: 60px;
    font-size: 20px;
}
p.textuser {
    font-size: 12px;
    margin-bottom: 71px;
}

select.countries{
	border: 1px solid grey;
    border-radius: 3px;
    margin-bottom: 25px;
	height: 30px;
}

#errorMessage{
    background-color: #FC1EBD;
    font-size: 14px;
    text-align: center;
    z-index: 1000;
    margin-top: 6px;
    color: #fff;
    border-radius: 6px;
}

/*estilos paises*/
fieldset {
   border: 0;
}
label {
   display: block;
}
 
/* select with custom icons */
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item-wrapper {
    padding: 0.5em 0 0.5em 3em;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .ui-icon {
    height: 24px;
    width: 24px;
    top: 0.1em;
}
.ui-icon.video {
  background: url("../img/cl.png") 0 0 no-repeat;
}

.ui-icon.podcast {
    background: url("../img/flag_mex.png") 0 0 no-repeat;
}
.ui-icon.rss {
    background: url("../img/flag_pe.png") 0 0 no-repeat;
}
 
/* select with CSS avatar icons */
option.avatar {
    background-repeat: no-repeat !important;
    padding-left: 20px;
}
.avatar .ui-icon {
    background-position: left top;
}
/*Estilos Sign Up Name and Email*/
input#name, input#email {
    display: block;
    margin-bottom: 8px;
    border: 1px solid gray;
    width: 92%;
    height: 30px;
    border-radius: 3px;
}

input#name{
	background: url(../img/user.png);
	background-repeat: no-repeat; 
	background-position: 2px 3px;
	text-indent:30px;
}

input#email{
	background: url(../img/mail.png);
	background-repeat: no-repeat; 
	background-position: 2px 3px;
	text-indent:30px;
}

a.term{
	color: #337ab7;
}
input#user {
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    text-indent:20px;
}

input#input-cod {
    border: 1px solid grey;
    border-radius: 3px;
    height: 30px;
    text-indent:20px;
}

h4.subtitulo{
    font-size: 14px;
}
/*Estilos index 2*/

input#submitBtnCod{
    background-color: #FC1EBD;
    border-bottom: none;
    border: none;
    color: #fff;
    width: 100%;
    height: 60px;
    font-size: 20px;
    margin-top: 55px;
}

span.glyphicon-user{
    color: #FC1EBD;
    font-size: 15px;
}

input.checkagree{
	margin-top: 30px;
	margin-bottom: 60px;
}

a.linkanterior{
	color: black;
}
input#q2_1 {
    margin: 0 auto;
}
input#email {
    display: block;
    margin-bottom: 2px;
    border: 1px solid gray;
    width: 92%;
}
input#checkbox {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*profile*/

#fotoprof{
    background-image: url(../img/profile.JPG);
    background-position: center;
    background-size: cover;
    height: 250px;

}

#edit{
    margin-top: 10%;
    margin-right: 10%;
}
/* Modal */
#inputFile{
    padding-left: 80px;
}

span.glyphicon-user{
    color:#333;
}

#user-data span{
    font-size: 18px;
    padding: 20px 0;
}

#user-data mark{
    margin-left: 150px;
}

#user-data{
    margin-top: 20px;
}
/*Mapa*/
menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.container-mapa{
    padding: 0;
    margin: 0;
}
.mapa{
    width: 100%;
    height: 100vh;
    padding: 0;
}
#map{
    width: 100%;
    height: 100vh;
    padding: 0;
}
.user-icon {
    width: 30px;
    position: absolute;
    top: 2vh;
    left: 9px;
    right: 0;
    margin: 0;
}
.user-icon img {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    margin: 0;
    right: 0;
    z-index: 1;
}
.logo {
    width: 30px;
    position: absolute;
    top: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.logo img{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    margin: 0 auto;
    right: 0;
    z-index: 1;
}
.gift-icon{
    width: 100%;
    position: absolute;
    top: 2vh;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.gift-icon img {
    position: absolute;
    top: 0px;
    width: 40px;
    margin: 0;
    right: 11px;
    z-index: 1;
}
.form{
    position: absolute;
    left: 0px;
    bottom: 5%;
    width: 100%;
    height: auto;
}
.arrow-circle{
    position: absolute;
    left: 44vh;
    top: 66vh;
    z-index: 0;
}
.form input{
    width: 100%;
    height: 60px;
    border-radius: 13px;
}
.form button{
    width: 100%;
    height: 60px;
    border-radius: 13px;
    color: white;
    background-color: #8179A8;
    font-size: 22px;
    border-color: #adadad;
}
.btn-default:hover{
    color: #8179A8;
    background-color: white;
    border-color: #adadad;
}
/*overlay*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.foto{
    align-items: center;
    width: 100%;
    border: 3px solid white;
}
.iconos{
    border: 1px solid #EFEFF4;
    margin:8px;
}
.overlay-content {
    position: relative;
    top: 2%;
    width: 100%;
    margin-top: 5px;
}
.overlay a {
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    color:#728098;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color:#FC1EBD;
}
.blanco{
    padding: 20px 0px;
    background-color: whitesmoke;
    width: 280px;
    height: 580px;

}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
    
.ultimo{
    background-color: #728098;
    color:white;
    width: 95%;
}
    
a.iconos.ultimo{
        
    color:white;
}
    /*termina mi overly*/
